body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8f9fd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: monospace;
  font-size: 50px;
  text-decoration: underline;
}

.block {
  overflow: hidden;
  background: #ffff;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

.block h2 {
  margin: 0 0 0.5rem 0;
}

/*NEW STYLES*/
.block {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
}

textarea {
  width: 300px;
  height: 150px;
}

.climb-link {
  color: #fd1e01;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}

.card {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffff;
  margin-left: 500px;
  margin-right: 500px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  margin: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.navbar-button {
  background-color: #fd1e01;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.login-button {
  background-color: #fd1e01;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: #fd1e01cc;
}

.card-button {
  background-color: #59ce8f;
  border: none;
  color: white;
  display: flex;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 20px;
  height: 20px;
  width: 20px;
}

.submit-info-button {
  background-color: #59ce8f;
  border: none;
  color: white;
  display: flex;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 20px;
  height: 40px;
  width: 60px;
}

button:hover {
  background-color: #fd1e01cc;
}

.add-beta-link {
  color: #fd1e01;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
}

.add-beta-submission-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-card {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffff;
  width: 500px;
}

.home-h2 {
  font-size: 30px;
}

.home-p {
  font-size: 15px;
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 10px;
}
