body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hwb(205 46% 34%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block {
  overflow: hidden;
  background: #ffff;
  padding: 1rem;
  margin: 0 0 1rem 0;
}
.block img {
   width: 75px;
  height: 75px;
  float: left;
  margin: 0 1rem 0 0;
}
.block h2 {
  margin: 0 0 0.5rem 0;
}
/*NEW STYLES*/
.block {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  margin: 20px;
  border-radius: 10px;
}

textarea {
  width: 300px;
  height: 150px;
}
